!.gitignore
tools/mkconfig
Out
out
include/csi_config.h
.config.old
tools/output/
.config
*.o
*.d
.*.swp
.gdbinit
csi
tags
release
release2

tools/kconfig-frontends/config.log
tools/kconfig-frontends/frontends/mconf/.libs/
tools/kconfig-frontends/frontends/mconf/mconf
tools/kconfig-frontends/libs/lxdialog/libkconfig-lxdialog.a
tools/kconfig-frontends/libs/parser/.libs/
tools/kconfig-frontends/libs/parser/hconf.c
tools/kconfig-frontends/libs/parser/lconf.c
tools/kconfig-frontends/libs/parser/libkconfig-parser.la
tools/kconfig-frontends/libs/parser/libkconfig_parser_la-yconf.lo
tools/kconfig-frontends/libs/parser/yconf.c
tools/kconfig-frontends/Makefile
tools/kconfig-frontends/config.status
tools/kconfig-frontends/docs/Makefile
tools/kconfig-frontends/frontends/Makefile
tools/kconfig-frontends/frontends/conf/Makefile
tools/kconfig-frontends/frontends/gconf/Makefile
tools/kconfig-frontends/frontends/mconf/.deps/
tools/kconfig-frontends/frontends/mconf/Makefile
tools/kconfig-frontends/frontends/nconf/Makefile
tools/kconfig-frontends/frontends/qconf/Makefile
tools/kconfig-frontends/libs/Makefile
tools/kconfig-frontends/libs/images/Makefile
tools/kconfig-frontends/libs/lxdialog/.deps/
tools/kconfig-frontends/libs/lxdialog/Makefile
tools/kconfig-frontends/libs/parser/.deps/libkconfig_parser_la-yconf.Plo
tools/kconfig-frontends/libs/parser/Makefile
tools/kconfig-frontends/scripts/.autostuff/config.h
tools/kconfig-frontends/scripts/Makefile
tools/kconfig-frontends/utils/Makefile
tools/kconfig-frontends/libtool
tools/sdk/list2cdkvd

_build
include/config_h
__pycache__
